.nav-item {
    font-size: 14px;
    font-weight: 600;
}

.nav-link:hover {
    color: blueviolet;

}

.txt {
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    background-color: blueviolet;
}

.txtdiv {
    background-color: blueviolet;
}

.con {
    margin-left: 10px;
    padding-left: 380px;
}

.carh1-1 {
    /* height: 350px; */
    margin-left: 250px;
    text-align: start;
    font-weight: bold;
}

.carp-1 {
    height: 50px;
    margin-left: 250px;
    font-size: 15px;
    text-align: start;
}

.carp-2 {
    margin-bottom: -82px;
}

.carbton {
    background-color: blueviolet;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    width: 190px;
    height: 60px;
    font-weight: bold;
    margin-bottom: 147px;
    margin-left: -583px;
}

.carbton:hover {
    background-color: rgb(162, 95, 221);
}

.carbton-1 {
    margin-top: 100px;
}

.inp {
    box-shadow: none;
}

.modelbtn {
    background-color: blueviolet;
    color: white;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
    height: 35px;
}

.modelbtn:hover {
    background-color: rgb(162, 95, 221);
}