.nav-item {
    font-size: 14px;
    font-weight: 600;
}

.nav-link:hover {
    color: blueviolet;
}

.txt {
    font-size: 14px;
    font-weight: 300;
    height: 35px;
    background-color: blueviolet;
}

.txtdiv {
    background-color: blueviolet;
}

.con {
    margin-left: 10px;
    padding-left: 380px;
}

.carh1-1 {
    /* height: 350px; */
    margin-left: 250px;
    text-align: start;
    font-weight: bold;
    
}
.carh1-2{
    margin-top: 10px;
    /* height: 193px; */
}

.carp-1 {
    height: 50px;
    margin-left: 250px;
    font-size: 15px;
    text-align: start;
}

.carp-2 {
    margin-bottom: -82px;
    height: 9px;
}

.carbton {
    background-color: blueviolet;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    width: 190px;
    height: 60px;
    font-weight: bold;
    margin-bottom: 147px;
    margin-left: -583px;
}

.carbton:hover {
    background-color: rgb(162, 95, 221);
}

.carbton-1 {
    margin-top: 100px;
}

.inp {
    box-shadow: none;
}

.modelbtn {
    background-color: blueviolet;
    color: white;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
    height: 35px;
}

.modelbtn:hover {
    background-color: rgb(162, 95, 221);
}

.tgrbtn {
    border-radius: 39px;
    /* position: fixed;
    top: 678px; */
    margin-left: -61px;
}

.abtbtn {
    background-color: blueviolet;
    color: white;
    width: 170px;
    font-weight: bold;
    font-size: 15px;
    height: 60px;
    border-radius: 30px;
    border: blueviolet 2px solid;
}

.abtbtn:hover {
    background-color: white;
    border-color: blueviolet;
    color: blueviolet;
}

.abth3 {
    color: blueviolet;
}

.abth6 {
    color: blueviolet;
    font-weight: 200;
    font-size: 18px;
}

.abtp {
    font-weight: 300;
}

.coursesh3 {
    text-align: center;
    color: blueviolet;
    font-weight: 600;
}

.corspn {
    color: rgb(146, 102, 186);
}

.coup {
    color: black;
    font-size: 15px;
    text-align: start;
    font-weight: 300;
}

.couh5 {
    text-align: start;
    font-size: 20px;
}

.coudiv:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.cali {
    color: red;
    margin-left: -196px;
}

.ispan {
    color: black;
    font-size: 12px;
    text-align: start;
    font-weight: 700;
}

.cloi {
    color: red;
    margin-left: -152px;
}

.grai {
    color: red;
    margin-left: -346px;
}

.viewspan {
    color: blueviolet;
    text-decoration: underline;
}

.couimg {
    height: 350px;
}